<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>First-time Login</h3>
            <p>Please update your e-mail address and password.</p>

            {{error-alert hasError=hasError header=errorHeader message=errorMessage errorList=errorList}}

            <form {{action 'update' on='submit'}}>
                <div class="form-group">
                    <label for="email">Email address</label>
                    {{input type="email" class="form-control" placeholder="E-mail" value=newEmail}}
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    {{input type="password" class="form-control" placeholder="New Password" value=newPassword}}
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    {{input type="password" class="form-control" placeholder="Confirm Password" value=confirmNewPassword}}
                </div>
                <button type="submit" class="btn btn-primary">Update Account</button>
            </form>
        </div>
    </div>
</div>