<div class="container">
    <form role="form" method="post" action="doUpdate">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h3>Update Account Information</h3>
                <p>You may update your e-mail address and / or password.</p>
                {{error-alert hasError=hasError header=errorHeader message=errorMessage errorList=errorList}}
                {{success-alert showSuccess=showSuccess message=successMessage}}

                <div class="form-group">
                    <label for="newEmail">New Email address</label>
                    {{input type="email" class="form-control" placeholder="New e-mail address" value=newEmail}}
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    {{input type="password" class="form-control" placeholder="New Password" value=newPassword}}
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm Password</label>
                    {{input type="password" class="form-control" placeholder="Confirm new password" value=confirmNewPassword}}
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <label for="password">Confirm existing password to make changes</label>
                    {{input type="password" class="form-control" placeholder="Existing password" value=password}}
                </div>

                <button class="btn btn-primary" {{action 'doUpdate'}}>Update</button>
            </div>
        </div>
    </form>
</div>