<div class="sidebar">
    {{#each profile in model}}
        <div class="profile-icon" {{bind-attr data-target="profile.id"}}>
            <i {{bind-attr class=":fa :fa-2x profile.icon"}}></i>
            {{profile.name}}
        </div>
    {{/each}}
</div>

{{#each profile in model}}
    <div class="packery" {{bind-attr data-profile-id="profile.id"}}>
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{#each widget in profile.widgets}}
            <div class="item col-3" data-height='{ "xl": 3, "lg": 3, "md": 3, "sm": 3, "xs": 3 }'>
                <div class="widget-wrapper">
                    {{render-widget widget.name title=widget.displayName data=widgetData}}
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}