<div class="sidebar" {{bind-attr class=":sidebar mobileSidebarVisible:in"}}>
    {{#each profile in model}}
        <div class="profile-icon" {{bind-attr data-target="profile.id"}}>
            <i {{bind-attr class=":fa :fa-2x profile.icon"}}></i>
            {{profile.name}}
        </div>
    {{/each}}

    <div class="profile-icon" {{action 'showAddWidget'}}>
        <i class="fa fa-2x fa-plus"></i>
        Add Widget
    </div>
</div>

<div id="main">
{{#each profile in model}}
    <div class="packery" {{bind-attr data-profile-id="profile.id"}}>
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{#each profileWidget in profile.profileWidgets}}
            {{render-widget profileWidget.widget.name
                            profileWidgetId=profileWidget.id
                            title=profileWidget.widget.displayName
                            sortOrder=profileWidget.sortOrder
                            data=widgetData}}
        {{/each}}
    </div>
{{/each}}
</div>

{{outlet}}