<div class="sidebar">
    {{#each profile in model}}
        <div class="profile-icon" {{bind-attr data-target="profile.id"}}>
            <i {{bind-attr class=":fa :fa-2x profile.icon"}}></i>
            {{profile.name}}
        </div>
    {{/each}}
</div>

{{#each profile in model}}
    <div class="packery" {{bind-attr data-profile-id="profile.id"}}>
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{#each widget in profile.widgets}}
            {{render-widget widget.name title=widget.displayName data=widgetData}}
        {{/each}}
    </div>
{{/each}}