<div class="sidebar" {{bind-attr class=":sidebar mobileSidebarVisible:in"}}>
    {{#each profile in model}}
        <div class="profile-icon" {{action "selectProfile" profile}}>
            <i {{bind-attr class=":fa :fa-2x profile.icon"}}></i>
            {{profile.name}}
        </div>
    {{/each}}

    <div class="profile-icon" {{action 'showAddWidget'}}>
        <i class="fa fa-2x fa-plus"></i>
        Add Widget
    </div>
</div>

{{outlet}}