<div class="handle"></div>
<div class="header">{{title}}</div>
<div class="content-wrapper">
    <div class="content">
        <div>OS: {{data.general.os}}</div>
        <div>Uptime: {{data.general.uptime}}</div>
        <div>Server Time: {{data.general.serverTime}}</div>
        <div>Hostname: {{data.general.hostname}}</div>
    </div>
</div>