<div class="item col-xl-5 col-lg-5 col-md-4 col-sm-2 col-xs-1"
     data-height='{ "xl": 3, "lg": 3, "md": 2, "sm": 2, "xs": 1 }'
    {{bind-attr data-profile-widget-id="profileWidgetId"
    data-sort-order="sortOrder"
    data-name="name"}}>
    <div class="widget-wrapper">
        <div class="handle"></div>
        <div class="header">{{title}}</div>
        <div class="content-wrapper">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>USER</th>
                            <th>PID</th>
                            <th>%CPU</th>
                            <th>%MEM</th>
                            <th>VSZ</th>
                            <th>RSS</th>
                            <th>TTY</th>
                            <th>STAT</th>
                            <th>START</th>
                            <th>TIME</th>
                            <th class="narrow-column">COMMAND</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each process in data.processes.processes}}
                            <tr>
                                <td>{{process.user}}</td>
                                <td>{{process.pid}}</td>
                                <td>{{process.cpu}}</td>
                                <td>{{process.mem}}</td>
                                <td>{{process.vsz}}</td>
                                <td>{{process.rss}}</td>
                                <td>{{process.tty}}</td>
                                <td>{{process.stat}}</td>
                                <td>{{process.start}}</td>
                                <td>{{process.time}}</td>
                                <td class="narrow-column">{{process.command}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{yield}}
</div>